.statisticsBoxs{
    display: flex;
    flex-wrap: wrap;
    width: inherit;
}
.infoBox{
    margin: 20px;
    padding: 25px;
    border-radius: 5px;
}
.infoBoxTitle{
    color: azure;
}
.infoBoxContent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    color: azure;
    width: 200px;
}

.infoBoxContent p{
    margin: 3px;
}

.infoBox h4{
    margin-bottom: 10px;
}