.espacioRojo{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #8b2320;
    height: 90px;
    color:#e9e9e9;
    padding-top: 0.5em;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
}

ul.menuHorizontalColorido {
    display: flex;
    justify-content:center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

ul.menuHorizontalColorido li {
    display: flex;
    flex: 1 1 0;
    width: 0;
    justify-content: center;
    flex-grow: 1;
    list-style-type:none;
}

ul.menuHorizontalColorido a {
    margin: 30px auto;
    padding-left: 20%;
    padding-right: 20%;
    color:#ebebeb;
    text-decoration:none;
    text-align:center;
    font-size: medium;
}

ul.menuHorizontalColorido a:hover {
    text-decoration: underline;
}

.menuHorizontalColorido li{
    height: 120px;
    text-align: center;
    align-items: center;
}

.menuHorizontalColorido p{
    font-size: larger;
}

li.Color1{
    background-color:#9E1B3F;
}

li.Color2{
    background-color:#0C3766;
}

li.Color3{
    background-color:#5D5D5D;
}

li.Color4{
    background-color:#EDA03F;
}

li.Color5{
    background-color:#A09F9F;
}

li.Color6{
    background-color:#508CE2;
}

li.Color7{
    background-color:#537B60;
}

.Color1{
    background-color:#9E1B3F;
}

.Color2{
    background-color:#0C3766;
}

.Color3{
    background-color:#5D5D5D;
}

.Color4{
    background-color:#EDA03F;
}

.Color5{
    background-color:#A09F9F;
}

.Color6{
    background-color:#508CE2;
}

.Color7{
    background-color:#537B60;
}