
nav{
    display: flex;
    text-align: center;
    
}

ul.menuHorizontal {
    display: flex;
    flex-grow: 1;
    flex: auto;
    margin-left: 80px;
    width: 100%;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    width:fit-content;
    white-space: nowrap;
}

ul.menuHorizontal .item {
    display: flex;
    background-color: brown;
    size: 100%;
}

ul.menuHorizontal li {
    list-style-type: none;
    float:left;
    height: 100%;
    padding-top: 4%;
    padding-left:25px;
    padding-right: 25px;
    border-radius: 5px;
    flex-grow: 1;
}

ul.menuHorizontal li:hover {
    background-color: #2b3e52;
}

ul.menuHorizontal a {
    margin: 50px auto;
    color:#ebebeb;
    text-decoration:none;
    text-align:center;
    font-size: large;
    height: 100%;
}

ul.menuHorizontal a:hover {
    text-decoration: underline;
}

.active{
    font-weight: bold;
}
