.overlay{
    display: flex;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.301);
    /* padding: 40px; */
    padding-top: 250px;
    align-items: flex-start;
    justify-content: center;
}

.notificationContent{
    display: flex;
    flex-direction: column;
    /* margin-top: 20px; */
    min-width: 300px;
    /*min-height: 100px; */
    position: relative;
    /* border-radius: 15px; */
    padding: 15px;
    font-weight: 400;
    font-size: large;
}

.notificationINFO{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: rgb(155, 195, 231);
    /* border: solid 1px rgb(28, 71, 95); */
    /* color: rgb(28, 71, 95); */
    border: #174a97;
    color: #174a97;
    border-radius: 10px;
}

.iconINFO{
    fill: #174a97;
    /* fill: rgb(28, 71, 95); */
}

.buttonCloseINFO{
    fill: #174a97;
    /* fill: rgb(28, 71, 95); */
}

.notificationWARN{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: rgb(231, 213, 155);
    /* border: solid 1px rgb(28, 71, 95); */
    /* color: rgb(28, 71, 95); */
    border: #976a17;
    color: #976a17;
    border-radius: 10px;
}

.iconWARN{
    fill: #976a17;
    /* fill: rgb(28, 71, 95); */
}

.buttonCloseWARN{
    fill: #976a17;
    /* fill: rgb(28, 71, 95); */
}

.notificationOK{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: rgb(172, 230, 172);
    /* border: solid 1px rgb(28, 71, 95); */
    /* color: rgb(28, 71, 95); */
    border: #269717;
    color: #269717;
    border-radius: 10px;
}

.iconOK{
    fill: #269717;
    /* fill: rgb(28, 71, 95); */
}

.buttonCloseOK{
    fill: #269717;
    /* fill: rgb(28, 71, 95); */
}

.notificationERROR{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: rgb(224, 159, 159);
    /* border: solid 1px rgb(28, 71, 95); */
    /* color: rgb(28, 71, 95); */
    border: #971717;
    color: #971717;
    border-radius: 10px;
}

.iconERROR{
    fill: #971717;
    /* fill: rgb(28, 71, 95); */
}

.buttonCloseOK{
    fill: #269717;
    /* fill: rgb(28, 71, 95); */
}

.buttonCloseERROR{
    fill: #971717;
    /* fill: rgb(28, 71, 95); */
}

.buttonCloseNotification{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.3s ease all;
    border-radius: 5px;
}

.buttonCloseNotification svg{
    padding: 10%;
}

.buttonCloseNotification:hover{
    /* background: #F2F2F2; */
    /* fill: #000000; */
}